@font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.woff2?8f9a5d362efd21b1ab85efd488d9635c") format("woff2"),
url("../fonts/flaticon.woff?8f9a5d362efd21b1ab85efd488d9635c") format("woff"),
url("../fonts/flaticon.eot?8f9a5d362efd21b1ab85efd488d9635c#iefix") format("embedded-opentype"),
url("../fonts/flaticon.ttf?8f9a5d362efd21b1ab85efd488d9635c") format("truetype"),
url("../fonts/flaticon.svg?8f9a5d362efd21b1ab85efd488d9635c#flaticon") format("svg");
    font-display: swap;
}
i[class^="flaticon-"]:before, i[class*=" pbmit-xclean-icon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.pbmit-xclean-icon-clean-house:before {
    content: "\f101";
}
.pbmit-xclean-icon-water-container:before {
    content: "\f102";
}
.pbmit-xclean-icon-store:before {
    content: "\f103";
}
.pbmit-xclean-icon-sweeping:before {
    content: "\f104";
}
.pbmit-xclean-icon-cleaning:before {
    content: "\f105";
}
.pbmit-xclean-icon-soap:before {
    content: "\f106";
}
.pbmit-xclean-icon-sweeper:before {
    content: "\f107";
}
.pbmit-xclean-icon-dish-washing:before {
    content: "\f108";
}
.pbmit-xclean-icon-scrubber:before {
    content: "\f109";
}
.pbmit-xclean-icon-window-cleaning:before {
    content: "\f10a";
}
.pbmit-xclean-icon-scrubbing:before {
    content: "\f10b";
}
.pbmit-xclean-icon-clothing-iron:before {
    content: "\f10c";
}
.pbmit-xclean-icon-dry-cleaning:before {
    content: "\f10d";
}
.pbmit-xclean-icon-vaccum-cleaner:before {
    content: "\f10e";
}
.pbmit-xclean-icon-washing:before {
    content: "\f10f";
}
.pbmit-xclean-icon-dishes:before {
    content: "\f110";
}
.pbmit-xclean-icon-handwash:before {
    content: "\f111";
}
.pbmit-xclean-icon-scrubbing-1:before {
    content: "\f112";
}
.pbmit-xclean-icon-cleaning-1:before {
    content: "\f113";
}
.pbmit-xclean-icon-wipe:before {
    content: "\f114";
}
.pbmit-xclean-icon-wiper:before {
    content: "\f115";
}
.pbmit-xclean-icon-apron:before {
    content: "\f116";
}
.pbmit-xclean-icon-pump:before {
    content: "\f117";
}
.pbmit-xclean-icon-bathtub:before {
    content: "\f118";
}
.pbmit-xclean-icon-duster:before {
    content: "\f119";
}
.pbmit-xclean-icon-window-cleaning-1:before {
    content: "\f11a";
}
.pbmit-xclean-icon-cleaning-gloves:before {
    content: "\f11b";
}
.pbmit-xclean-icon-dusting:before {
    content: "\f11c";
}
.pbmit-xclean-icon-trash-bin:before {
    content: "\f11d";
}
.pbmit-xclean-icon-water-spray:before {
    content: "\f11e";
}
.pbmit-xclean-icon-dishwashing:before {
    content: "\f11f";
}
.pbmit-xclean-icon-detergent:before {
    content: "\f120";
}
.pbmit-xclean-icon-towel:before {
    content: "\f121";
}
.pbmit-xclean-icon-broom:before {
    content: "\f122";
}
.pbmit-xclean-icon-dustpan:before {
    content: "\f123";
}
.pbmit-xclean-icon-detergent-1:before {
    content: "\f124";
}
.pbmit-xclean-icon-bucket:before {
    content: "\f125";
}
.pbmit-xclean-icon-clean:before {
    content: "\f126";
}
.pbmit-xclean-icon-wet-floor:before {
    content: "\f127";
}
.pbmit-xclean-icon-soap-1:before {
    content: "\f128";
}
.pbmit-xclean-icon-soap-2:before {
    content: "\f129";
}
.pbmit-xclean-icon-sprayer:before {
    content: "\f12a";
}
.pbmit-xclean-icon-cleaning-2:before {
    content: "\f12b";
}
.pbmit-xclean-icon-toilet-roll:before {
    content: "\f12c";
}
.pbmit-xclean-icon-basket:before {
    content: "\f12d";
}
.pbmit-xclean-icon-mop:before {
    content: "\f12e";
}
.pbmit-xclean-icon-wiper-1:before {
    content: "\f12f";
}
.pbmit-xclean-icon-vacuum:before {
    content: "\f130";
}
.pbmit-xclean-icon-laundry:before {
    content: "\f131";
}
.pbmit-xclean-icon-ironing:before {
    content: "\f132";
}
.pbmit-xclean-icon-star:before {
    content: "\f133";
}
.pbmit-xclean-icon-customer-service:before {
    content: "\f134";
}
.pbmit-xclean-icon-home-service:before {
    content: "\f135";
}
.pbmit-xclean-icon-clean-1:before {
    content: "\f136";
}
.pbmit-xclean-icon-straight-quotes:before {
    content: "\f137";
}
.pbmit-xclean-icon-phone:before {
    content: "\f138";
}
.pbmit-xclean-icon-email:before {
    content: "\f139";
}
.pbmit-xclean-icon-briefcase:before {
    content: "\f13a";
}
.pbmit-xclean-icon-location:before {
    content: "\f13b";
}
.pbmit-xclean-icon-telephone-call:before {
    content: "\f13c";
}